
#wrapper{
    width: 960px;
    margin: 0 auto;

}
     h1{
            background: greenyellow;
            text-align: center;
        }

        h1:hover {
            background: orange;
        }

        h2 {
            color: orange;
        }

        .text-green {
            color: green;
        }

        .Tiêu-đề {
            color: red;
        }

        .Tiêu-đề:hover {
            color: green;
        }

        input:checked+label {
            color: red;
        }